ahk==1.6.1
aiosignal==1.3.1
asyncio==3.4.3
asyncqt==0.8.0
numpy==1.26.4
opencv-python==4.9.0.80
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
pywin32==306
pywin32-ctypes==0.2.2
scipy==1.13.0